# manual calculation knn algorithm using python

In [12]:
# function for calculating euclidean distance from predict data  to given  data
def euclidean_distance( point1,point2):
    return (((point1-point2)**2)**0.5)

In [15]:
# fucntion for finding k nearest neighbour data 
def knn_regressor(train_data, train_labels,test_point,k):
    distances=[]
    
    for i in range(len(train_data)):
        distance=euclidean_distance(train_data[i],test_point) # calling fucntion to get distance from predicted data
        distances.append((distance,train_labels[i]))
        sorted_distance=sorted(distances)
      
    # to get only income data from the tuples
    second_values = [pair[1] for pair in sorted_distance]
    
    neighbour=[]

    for i in range(k):
        nearest_neighbour=second_values[i]        
        neighbour.append(nearest_neighbour)       
        i=i+1    
    sum=0
    count=0
    for n in neighbour:
        sum=sum+n
        count=count+1
    avg=sum/count # average of nearest neighbours 
    return avg

In [18]:
# sample data 
age= [21, 20,22,22,23,21,25,30,31]
income=[60,55,60,61,65,62,65,70,68]
k=3
predicted_age=22
predicted_income=knn_regressor(age,income,predicted_age,k)
print(f"Income of predicted data {predicted_age} is {predicted_income}")

Income of predicted data 22 is 60.333333333333336

# knn algorithm outcomes in sklearn.neighbors

In [20]:
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
import pandas as pd

# Sample data
age = np.array([[21], [20],[22],[22],[23],[21],[25],[30],[31]])
income= np.array([60,55,60,61,65,62,65,70,68])
# New data point
age_new = np.array([[22]])

# KNN Regressor with k=3
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(age, income)

# Predicting the value for the new data point
income_pred = knn.predict(X_new)
print(income_pred)

[60.33333333]

# knn algrithm outcomes check in linear regression

In [22]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt

In [45]:
age_income={"Age":[21,20,22,22,23,21,25,30,31],"Income(k)":[60,55,60,61,65,62,65,70,68]}
df=pd.DataFrame(age_income)
df

   Age  Income(k)
0   21         60
1   20         55
2   22         60
3   22         61
4   23         65
5   21         62
6   25         65
7   30         70
8   31         68

In [47]:
age=df.drop('Income(k)',axis=1)
age

   Age
0   21
1   20
2   22
3   22
4   23
5   21
6   25
7   30
8   31

In [48]:
age.mean()

Age    23.888889
dtype: float64

In [51]:
income=df.drop('Age',axis=1)
income

   Income(k)
0         60
1         55
2         60
3         61
4         65
5         62
6         65
7         70
8         68

In [52]:
income.mean()

Income(k)    62.888889
dtype: float64

In [53]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(age,income)
slope=reg.coef_
print(slope)

[[1.01551724]]

In [54]:
intercept=reg.intercept_
print(intercept)

[38.62931034]

In [55]:
predicted_income=reg.predict([[22]])

print(predicted_income)

[[60.97068966]]

E:\Users\UseR\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [56]:
df.to_excel('Age_Income.xlsx',index=False)